{:databases [{:store {:backend :jdbc}
              :schema-flexibility :read
              :keep-history? false
              :name "sessions"}
             {:store {:backend :jdbc}
              :name "users"
              :keep-history? true
              :schema-flexibility :write}]
 :server {:port  4444
          :join? false
          :loglevel :info
          :dbtype "postgresql"
          :host "localhost"
          :dbname "datahike"
          :user "datahike"
          :password "password"
          :dev-mode true
          :token :securerandompassword}}
